
@{
    ViewData["Title"] = "Test";
    var a = new Model();
}



<h1>Test</h1>
<div class="text-center">
    <form method="post" action="/home/calc">   @* asp-action="Test" *@
    <input name="Height" placeholder="Высота"/>
    <input name="T_material" placeholder="Температура материала" />
    <input name="T_gas" placeholder="Температура газа" />
    <input name="C_material" placeholder="Теплоемкость материала" />
    <input name="C_gas" placeholder="Теплоемкость газа" />
    <input name="G" placeholder="Расход материала" />
    <input name="d" placeholder="Диаметр канала" />
    <input name="W" placeholder="Скорость газа" />
    <input name="av" placeholder="Расход топлива?" />
    <button value="Ввод"></button>
    </form>
</div>






